.badge-container{
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  
.profile-image img {
    height: 100px;
    margin: 10px;
}
.profile-image .age {
    width: 100%;
    text-align: center;
}

.badge-wrapper{
    min-width: 300px;
    display: flex;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    border-radius: 10px;
}

.view-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}
.view-form-wrapper input[type="text"],.view-form-wrapper input[type="number"], .view-form-wrapper input[type="submit"]{
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 100%;
}
.view-form-wrapper input[type="radio"] {
    border-radius: 4px;
    box-sizing: border-box;
    /* display: block; */
    font-size: 49px;
    /* margin-bottom: 10px; */
    /* padding: 6px 10px; */
    width: 8%;
}
.view-form-wrapper label {
    font-size: 20px;
    line-height: 30px;
    color: #918b8b;
}
.pagination {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
.pagination ul li {
    display: inline-block;
    padding: 10px;
    min-width: 30px;
    background-color: #00ffff24;
    margin: 1px;
    border: 0.5px #05d1d1 solid;
    border-radius: 5px;
    cursor: pointer;    
}
.pagination ul li.selected {
    background-color: #05d1d1;
}